<title>All Slider</title>
<div class="container">
    <h1 class="text-center m-4 title-Acme">All Slider</h1>
    <div class="alert alert-danger" role="alert">
        Not Working..!
    </div>
    <table class="table">
        <thead class="text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Descriptioname</th>
                <th scope="col">Path</th>
                <th scope="col">Image</th>
                <th scope="col">Edit / Delete</th>
            </tr>
        </thead>
        <tbody class="text-white">
            {{#each data}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.ndescriptioname}}</td>
                <td>{{this.path}}</td>
                <td><img style="height: 50px; width: 100px; border-radius: 10px;" src="/uploads/slider/{{this.img}}"
                        alt="{{this.img}}"></td>
                <td>
                    <a href="/admin/user-edit/{{this._id}}" class="btn btn-info mt-1">Edit</a>
                    <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger">Delete</a>
                </td>

            </tr>

            {{/each}}
        </tbody>
    </table>

</div>