<title>{{spVideo.title}}</title>
<div class="container mt-4">
    <div class="row">
        <!-- Main Video Section -->
        <div class="col-lg-8 col-md-12 video">
            <div class="video-container redi">
                <video width="100%" controls poster="/{{spVideo.imgPath}}" autoplay>
                    <source src="/{{spVideo.videoPath}}" type="video/mp4">
                </video>
            </div>
            <h3 class="mt-2">{{spVideo.title}}</h3>
            <p>{{spVideo.views}} views | <a href="">{{spVideo.category}}</a> </p> 
            <a href="/playlist/{{this._id}}" ><i class="bi bi-plus-square"></i> Add to Playlist</a>
            <hr>
            <p>{{spVideo.description}}</p>
            <hr>
            {{!-- <input type="text" name="comment" placeholder="Comment" class="comment"> 
            <a href="" class="btn btn-secondary"><i class="bi bi-send-check-fill"></i> Send</a> --}}
        </div>
        <!-- Sidebar Section -->
        {{#each spCategory}}
        <div class="col-lg-4 col-md-12 video-slider">
            <div class="list-group ">
                <a href="" class="list-group-item list-group-item-action text-white" style="background-color: rgb(19, 32, 59); ">
                    <img src="/{{this.imgPath}}" class="img-thumbnail mr-3 redi" alt="Video Thumbnail" >
                    {{this.title}}
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>